@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik", sans-serif;
  background-image: url('src/assets/Images/Bg.jpg');
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100%;
}